.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.headerManu a {
  display: inline-block;
  margin: 0 10px;
  background-color: wheat;
  text-decoration: none;
  color: #565673;
  font-size: 12px;
  letter-spacing: 1.2px;
}
.headerManu a:hover {
  color: #5f9ea0;
}
